<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Version6WebApp - Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body style="min-height: 100vh; display: flex; flex-direction: column;">

    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: black">
        <a href="#" class="navbar-brand px-5">Habbo</a>
        <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#toggleMobileMenu" 
        aria-controls="toggleMobileMenu" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
        >
  
        <span class="navbar-toggler-icon"></span>
  
      </button>

    <div class="collapse navbar-collapse" id="toggleMobileMenu">
        <ul class="navbar-nav ms-auto text-center">
          <li>
            <a class="nav-link active px-5" href="index.html">Home</a>
          </li>
          <li>
            <a class="nav-link px-5" href="about.html">Login</a>
          </li>
          <li>
            <a class="nav-link px-5" href="projects.html">Register</a>
          </li>
          <li>
            <a class="nav-link px-5" href="contact.html">News</a>
          </li>
        </ul>
      </div>
      </nav>

        <div class="mt-4 p-5 bg-dark text-white rounded text-center mx-auto" style="width: 50%">
            <h1>Habbo V6 Emulator</h1>
            <p>An emulator designed to replicate Habbo Hotel from October 2004.</p>
            <button class="btn btn-secondary">Check it out!</button>
    </div>

    <div class="container">
    </div>

       <footer style="margin-top: auto; background-color: black; color: white">
           <p class="fw-light text-center">Habbo Hotel Version 6 Emulator. Habbo is licensed trademark of Sulake</p>
       </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</html>