<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Version6WebApp - My profile</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>

<style>
    .navbar-nav li a:hover {
        opacity: 50%;
    }


    tbody::after
    {
        content: '';
        display: block;
        height: 20px;

    }

    tbody {
        border-bottom: 1px solid rgb(232,  234, 238);
    }

    tbody:last-child {

    }

</style>

<body style="min-height: 100vh; display: flex; flex-direction: column;">

<nav class="navbar navbar-expand navbar-dark bg-dark">

    <button class="navbar-toggler d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>

<div class="offcanvas offcanvas-start text-center" id="offcanvas">
    <div class="offcanvas-header bg-dark text-white">
        <h1 class="offcanvas-title offset-3">Navigation</h1>
    </div>
    <div class="offcanvas-body justify-content-start">
        <ul class="navbar-nav">
            <li class="pb-4">
                <div class="container border-bottom pb-1">
                <a class="nav-link link-dark" th:href="@{/dashboard}">
                    <i class="fas fa-chart-line"></i> Dashboard Home
                </a>
                </div>
            </li>
            <li class="pb-4">
                <div class="container border-bottom pb-1">
                <a class="nav-link active link-dark" th:href="@{/profile}">
                    <i class="fas fa-user-edit"></i> Update Profile
                </a>
                </div>
            </li>
            <li class="pb-4">
                <div class="container border-bottom pb-1">
                <a class="nav-link link-dark" th:href="@{/news/page/1}">
                    <i class="fas fa-newspaper"></i> News
                </a>
                </div>
            </li>
            <li class="pb-4">
                <div class="container border-bottom pb-1">
                    <form id="logout" action="#"
                          th:action="@{/logout}"
                          method="POST">

                        <a onclick="document.getElementById('logout').submit();" class="nav-link link-dark">
                            <i class="fas fa-sign-out-alt"></i> Log out
                        </a>
                </div>
                </form>
            </li>

        </ul>
    </div>
    <button type="button" class="btn btn-dark text-white" data-bs-dismiss="offcanvas">Close</button>
</div>

<div class="container min-vw-100 min-vh-100 pt-5" style="background-color: rgb(255, 255, 255)">
    <div class="d-flex ms-5">
        <div class="flex-row">
            <div class="flex-column">
                <p class="fw-bolder">My profile</p>
            </div>
            <div class="flex-column">
                <p class="fw-lighter">Hi, <span sec:authentication="name"></span>!</p>
            </div>
        </div>
    </div>

    <div th:if="${param.update_account_success != null}" >
        <div class="container">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <p>You have successfully updated your account!</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

    </div>


    <div th:if="${param.update_avatar_success != null}" >
        <div class="container">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <p>You have successfully updated your avatar!</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

    </div>


    <div class="d-flex row pt-3">
        <table class="table-responsive">
        <thead class="fw-lighter" style="background-color: rgb(232, 234, 238); width: 100%;">
        <tr>
            <th  colspan="3" class="ms-auto ps-5">Account Details</th>
        </tr>
        </thead>
            <tbody>
            <tr class="bordered">
            <td class="ps-3 pt-4"><i class="fas fa-user-circle"></i></td>
            <td class="pt-4">View Avatar Details</td>
            <td class="pt-4"><a th:href="@{/profile_avatar}">Edit</a></td>
            </tr>
            <tbody>
            <tr>
                <td class="ps-3 pt-4"><i class="far fa-address-card"></i></td>
                <td class="pt-4">Update Account Details</td>
                <td class="pt-4"><a th:href="@{/profile_update}">Edit</a></td>
            </tr>
            </tbody>
            <thead class="fw-lighter" style="background-color: rgb(232, 234, 238); width: 100%;">
            <tr>
                <th  colspan="3" class="ms-auto ps-5">Multifactor Auth</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="ps-3 pt-4"><i class="fas fa-lock"></i></td>
                <td class="pt-4">Change Auth Settings</td>
                <td class="pt-4"><a href="#">Edit</a></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<footer class="p-3" style="margin-top: auto; background-color: black; color: white">
           <p class="fw-light text-center">Habbo Hotel Version 6 Emulator. Habbo is licensed trademark of Sulake</p>
       </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="/js/bootstrap.bundle.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="/js/bootstrap.bundle.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://kit.fontawesome.com/865408320e.js" crossorigin="anonymous"></script>
</html>