<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Version6WebApp - Avatar Details</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>

<style>
    .navbar-nav li a:hover {
        opacity: 50%;
    }

</style>

<body style="min-height: 100vh; display: flex; flex-direction: column;">

<nav class="navbar navbar-expand navbar-dark bg-dark">

    <button class="navbar-toggler d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>

<div class="offcanvas offcanvas-start text-center" id="offcanvas">
    <div class="offcanvas-header bg-dark text-white">
        <h1 class="offcanvas-title offset-3">Navigation</h1>
    </div>
    <div class="offcanvas-body justify-content-start">
        <ul class="navbar-nav">
            <li class="pb-4">
                <div class="container border-bottom pb-1">
                <a class="nav-link link-dark" th:href="@{/dashboard}">
                    <i class="fas fa-chart-line"></i> Dashboard Home
                </a>
                </div>
            </li>
            <li class="pb-4">
                <div class="container border-bottom pb-1">
                <a class="nav-link active link-dark" th:href="@{/profile}">
                    <i class="fas fa-user-edit"></i> Update Profile
                </a>
                </div>
            </li>
            <li class="pb-4">
                <div class="container border-bottom pb-1">
                <a class="nav-link link-dark" th:href="@{/register}">
                    <i class="fas fa-newspaper"></i> News
                </a>
                </div>
            </li>
            <li class="pb-4">
                <div class="container border-bottom pb-1">
                    <form id="logout" action="#"
                          th:action="@{/logout}"
                          method="POST">

                        <a onclick="document.getElementById('logout').submit();" class="nav-link link-dark">
                            <i class="fas fa-sign-out-alt"></i> Log out
                        </a>
                </div>
                </form>
            </li>

        </ul>
    </div>
    <button type="button" class="btn btn-dark text-white" data-bs-dismiss="offcanvas">Close</button>
</div>

<div class="container min-vw-100 min-vh-100 pt-5" style="background-color: rgb(241, 244, 247)">

    <div class="container d-flex flex-row pb-3">
        <div class="flex-column">
           <a th:href="@{/profile}"> <i class="fa-solid fa-arrow-left pe-3"></i></a>
        </div>
        <div class="flex-column">
            <h5 class="fw-lighter">Avatar Details </h5>
        </div>
    </div>

    <div class="container d-flex flex-row">
        <div class="form-group row">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" th:placeholder="${#authentication.name}" readonly>
            <label for="mission">Mission:</label>
            <input type="text" name="mission" id="mission" th:placeholder="${mission}" readonly>
            <label for="username">Role:</label>
            <input type="text" name="role" id="role" th:placeholder="${role}" readonly>
            <label for="mission">Credits:</label>
            <input type="text" name="credits" id="credits" th:placeholder="${credits}" readonly>
        </div>
    </div>
</div>

<footer class="p-3" style="margin-top: auto; background-color: black; color: white">
           <p class="fw-light text-center">Habbo Hotel Version 6 Emulator. Habbo is licensed trademark of Sulake</p>
       </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="/js/bootstrap.bundle.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="/js/bootstrap.bundle.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://kit.fontawesome.com/865408320e.js" crossorigin="anonymous"></script>
</html>