<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Version6WebApp - Account Update</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>

<style>
    .navbar-nav li a:hover {
        opacity: 50%;
    }

</style>

<body style="min-height: 100vh; display: flex; flex-direction: column;">

<nav class="navbar navbar-expand navbar-dark bg-dark">

    <button class="navbar-toggler d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>

<div class="offcanvas offcanvas-start text-center" id="offcanvas">
    <div class="offcanvas-header bg-dark text-white">
        <h1 class="offcanvas-title offset-3">Navigation</h1>
    </div>
    <div class="offcanvas-body justify-content-start">
        <ul class="navbar-nav">
            <li class="pb-4">
                <div class="container border-bottom pb-1">
                <a class="nav-link link-dark" th:href="@{/dashboard}">
                    <i class="fas fa-chart-line"></i> Dashboard Home
                </a>
                </div>
            </li>
            <li class="pb-4">
                <div class="container border-bottom pb-1">
                <a class="nav-link active link-dark" th:href="@{/profile}">
                    <i class="fas fa-user-edit"></i> Update Profile
                </a>
                </div>
            </li>
            <li class="pb-4">
                <div class="container border-bottom pb-1">
                <a class="nav-link link-dark" th:href="@{/register}">
                    <i class="fas fa-newspaper"></i> News
                </a>
                </div>
            </li>
            <li class="pb-4">
                <div class="container border-bottom pb-1">
                    <form id="logout" action="#"
                          th:action="@{/logout}"
                          method="POST">

                        <a onclick="document.getElementById('logout').submit();" class="nav-link link-dark">
                            <i class="fas fa-sign-out-alt"></i> Log out
                        </a>
                </div>
                </form>
            </li>

        </ul>
    </div>
    <button type="button" class="btn btn-dark text-white" data-bs-dismiss="offcanvas">Close</button>
</div>

<div class="container min-vw-100 min-vh-100 pt-5" style="background-color: rgb(241, 244, 247)">

    <div class="container d-flex flex-row pb-3">
        <div class="flex-column">
           <a th:href="@{/profile}"> <i style="font-size: 2em;" class="fa-solid fa-arrow-left pe-3"></i></a>
        </div>
        <div class="flex-column">
            <h5 class="fw-lighter">Update Account Details </h5>
        </div>
    </div>

    <div class="container d-flex flex-row">
        <div class="form-group row w-100">
            <form id="update" th:action="@{/profile_update}"method="POST" novalidate>
            <label for="email">Email:</label>
            <input class="form-control" type="text" name="email" id="email" th:value="${email}" required>
                <div class="invalid-feedback">Email is required</div>
            <label for="password">Password:</label>
            <input class="form-control" type="password" name="password" id="password"/>
                <div class="invalid-feedback">Password is invalid</div>
            <label for="password2">Confirm Password:</label>
            <input class="form-control" type="password" name="password2" id="password2"/>
                <div class="invalid-feedback">Password is invalid</div>
                <br>
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
    </div>
</div>

<footer class="p-3" style="margin-top: auto; background-color: black; color: white">
           <p class="fw-light text-center">Habbo Hotel Version 6 Emulator. Habbo is licensed trademark of Sulake</p>
       </footer>
</body>
<script>

    const form = document.getElementById("update");

    form.addEventListener('submit', e => {

        const password1 = document.getElementById("password");
        const password2 = document.getElementById("password2");
        const email = document.getElementById("email");
        let failed = false;


        if (password1.value != password2.value || password1.value.length == 0 || password2.value.length == 0) {
            failed = true;
            password1.setCustomValidity("Invalid field.");
            password2.setCustomValidity("Invalid field.");
        }

        if (email.value.length == 0) {
            failed = true;
            email.setCustomValidity("Invalid field.");
        }

        if (failed == false && password1.checkValidity() == false) {
            password1.setCustomValidity("");
        }

        if (failed == false && password2.checkValidity() == false) {
            password2.setCustomValidity("");
        }

        if (failed == false && email.checkValidity() == false) {
            email.setCustomValidity("");
        }


        if (!form.checkValidity()) {
            e.preventDefault();
        }

        form.classList.add('was-validated')
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/bootstrap.bundle.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://kit.fontawesome.com/865408320e.js"></script>
</html>